/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container styling */
.form-container {
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-top: 5px;
}

h2 {
    text-align: center;
    color: #333;
}

/* Form styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.add-product-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-btn:hover {
    background-color: #218838;
}

.pr1 {
    text-align: center;
    margin-top: -10px;
}

.pr1 button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: -2%;
    position: absolute;
    margin-left: -5%;
}

.pr1 button:hover {
    background-color: #0056b3;
}

/* Product details styling */
.p1 {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
}

.h1 h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.p3 table {
    width: 100%;
    border-collapse: collapse;
}

.p3 th,
.p3 td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.p3 th {
    background-color: #f4f4f4;
}

.p3 img {
    display: block;
    max-width: 70px;
    max-height: 70px;
    border-radius: 4px;
}

.p2 {
    text-align: center;
    margin-top: 20px;
     
}

.p2 button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.p2 button:hover {
    background-color: #0056b3;

}
