.App {
  text-align: center;
}
.main{
  height: 600px;
  background-color: rgb(202, 242, 252);
  /* border: 1px solid black; */
}
.header{
  height: 100px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 200px;
  height: 100%;
  /* border: 1px solid black; */
}
.navigation{
  width: 40%;
  height: 100%;
  /* border: 1px solid black; */
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.section{
  height: 500px;
  /* border: 1px solid red; */
  margin-top: -500px;
  /* background-color: rgb(202, 242, 252); */
}
.section img{
  height: 460px;
  width: 600px;
  margin-top: 40px;
  margin-left: -500px;
}
.discount{
  font-weight: bold;
  color: rgb(44, 104, 182);
  position: absolute;
  margin-top: -30%;
  margin-left: 55%;
  font-size: 25px;
}
.winter{
  position: absolute;
  font-size: 80px;
  margin-top: -28%;
  margin-left: 55%;
}
.collection{
  position: absolute;
  font-size: 85px;
  margin-top: -22%;
  margin-left: 55%;
}
.best{
  position: absolute;
  margin-top: -13%;
  margin-left: 55.5%;
}
.shop{
  position: absolute;
  margin-top: 28%;
  margin-left: 2%;
  height: 40px;
  width: 120px;
  font-size: 17px;
  border-radius: 20px;
  border: none;
  background-color: rgb(44, 104, 182);
  color: white;
}
 
